header nav .hiw {
  color: red;
}
.about-head {
  background-color: white;
  background-image: none;
  height: auto;
  background-color: #605f5f1a;
}
.about-cont {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
  flex-flow: row wrap;
}
.about-cont div {
  padding: 20px;
  border-bottom: #08addd 2px solid;
  margin: 16px 10px;
}
.about-cont div img {
  width: 160px;
  border-radius: 50%;
}
.about-cont div h2 {
  font-size: 2.6rem;
  color: #494949;
}
.about-cont div p {
  font-size: 1.8rem;
  color: #55596d;
  font-weight: bold;
}
.about-cont div .gh,
.about-cont div .tw {
  font-size: 20px;
  color: #55596d;
  transition: transform 0.2s ease-in-out;
  margin: 0 10px;
}
.about-cont div .gh:hover,
.about-cont div .tw:hover {
  color: #bb1333;
  transform: scale(1.5);
}
.about-cont div .tw:hover {
  color: #08addd;
}
footer {
  background-color: #252c2f;
  color: white;
  text-align: center;
}
footer img {
  width: 100px;
  padding: 5px;
  border-radius: 4px;
}
.foot-link-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  padding: 14px 0;
}
@media (max-width: 515px) {
  .foot-link-cont {
    flex-flow: column;
  }
}
.foot-link-cont a {
  font-size: 1.6rem;
  padding: 10px 0;
  text-decoration: none;
  color: #a9a9a9;
}
.foot-link-cont a:hover {
  color: white;
  text-decoration: underline;
}
.rec {
  display: none;
  text-align: center;
}
.rec a {
  text-decoration: none;
  color: grey;
}
.show {
  display: block;
}
section {
  background-color: #e9e9e9;
  text-align: center;
  padding: 100px 20px;
}
section .htqw {
  padding-bottom: 70px;
}
section .htqw span {
  color: #bb1333;
}
section h2 {
  font-size: 3rem;
  font-weight: bolder;
}
section .card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 1000px) {
  section .card {
    flex-flow: column;
    align-items: center;
  }
}
section .card img {
  width: 50px;
  margin: 0;
}
section .card h2 {
  font-size: 2rem;
  margin: 0 0 24px 0;
  color: #55596d;
}
section .card h3 {
  font-size: 1.4rem;
  line-height: 24px;
  color: #605f5f;
}
section .card div {
  width: 288px;
  margin: 20px 10px;
  text-align: left;
}
header {
  width: 100%;
  margin: auto;
  height: 600px;
  background-image: url("/Images/duy-pham-704498-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}
header .header-cont {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.37);
}
header .signup-cont {
  padding: 20px 0;
  text-align: center;
  margin: 0;
}
header .signup-cont h1 {
  font-size: 3.4rem;
  font-weight: bold;
  padding: 60px 0;
  color: #ffffff;
  margin-top: 100px;
}
header .signup-cont a {
  font-size: 1.8rem;
  padding: 14px 40px;
  font-weight: 100;
  text-decoration: none;
}
.logo {
  width: 160px;
  height: 44.64px;
}
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 22px;
  background-color: #ffffff;
}
@media (max-width: 515px) {
  nav {
    flex-flow: column;
    align-items: center;
  }
}
.nav-link-cont {
  padding: 10px;
}
.nav-link-cont .hiw {
  color: #55596d;
}
.nav-link-cont .hiw:hover {
  text-decoration: underline;
}
.nav-link-cont a {
  font-size: 2rem;
  padding: 5px 22px;
  color: #ffffff;
  text-decoration: none;
}
@media (max-width: 515px) {
  .nav-link-cont a:first-child {
    margin-bottom: 10px;
  }
}
@media (max-width: 515px) {
  .nav-link-cont a {
    display: block;
    text-align: center;
  }
}
.btn {
  border-radius: 2px;
  background-color: #bb1333;
  color: #ffffff;
  transition: background-color 0.1s ease-in-out;
}
.btn:hover {
  background-color: #df173c;
  cursor: pointer;
}
.legal-cont {
  padding: 50px;
  text-align: left;
}
.legal-cont div {
  max-width: 500px;
  margin: auto;
}
.legal-cont div h1 {
  font-size: 3rem;
  font-weight: 100;
}
.legal-cont div h2 {
  font-size: 2.4rem;
  font-weight: 200;
}
.legal-cont div h3,
.legal-cont div strong,
.legal-cont div p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.privacy-cont {
  padding: 50px;
  text-align: left;
}
@media (max-width: 515px) {
  .privacy-cont {
    padding: 5px;
    text-align: center;
  }
}
.privacy-cont div {
  max-width: 500px;
  margin: auto;
}
.privacy-cont div h1 {
  font-size: 3rem;
  font-weight: 100;
}
.privacy-cont div h2 {
  font-size: 2.4rem;
  font-weight: 200;
}
@media (max-width: 515px) {
  .privacy-cont div h2 {
    border-bottom: 1px solid #55596d;
  }
}
@media (max-width: 515px) {
  .privacy-cont div h3::before {
    content: "# ";
  }
}
@media (max-width: 515px) {
  .privacy-cont div h4::before {
    content: "- ";
  }
}
@media (max-width: 515px) {
  .privacy-cont div li {
    text-align: left;
  }
}
@media (max-width: 515px) {
  .privacy-cont div p {
    text-align: left;
    padding: 0 14px;
  }
}
.privacy-cont div strong {
  font-weight: 700;
}
.privacy-cont div h3,
.privacy-cont div strong,
.privacy-cont div p,
.privacy-cont div li,
.privacy-cont div h4 {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
@font-face {
  font-family: "Lato";
  src: url(/Fonts/Lato-Light.ttf);
}
html {
  font-size: 62.5%;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  max-width: 1600px;
  margin: auto;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
