header {
  nav {
    .hiw {
      color: red;
    }
  }
}
.about-head {
  background-color: white;
  background-image: none;
  height: auto;
  background-color: #605f5f1a;
}
.about-cont {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
  flex-flow: row wrap;
  div {
    padding: 20px;
    border-bottom: @lightBlue 2px solid;
    margin: 16px 10px;
    img {
      width: 160px;
      border-radius: 50%;
    }
    h2 {
      font-size: 2.6rem;
      color: rgb(73, 73, 73);
    }
    p {
      font-size: 1.8rem;
      color: @grey;
      font-weight: bold;
    }
    .gh, .tw{
      font-size: 20px;
      color: @grey;
      transition: transform 0.2s ease-in-out;
      margin: 0 10px;
      &:hover {
        color: @red;
        transform: scale(1.5);
      }
    }
    .tw{
      &:hover{
        color: @lightBlue;
      }
    }
  }
}
