header{
    nav{
        .hiw
        {color: red;}
    }
}
.about-head{
    background-color: white;
    background-image: none;
    height: auto;
    background-color: #605f5f1a;
  }
.about-cont{
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
    flex-flow: row wrap;
    div{
        padding: 20px;
        img{
            width: 200px;
            height: 200px;
        }
        h2{
            font-size: 2.6rem;
        }
        p{
            font-size: 1.8rem;
        }
    }
}