footer {
  background-color: rgb(37, 44, 47);
  color: white;
  text-align: center;
  img {
    width: 100px;
    padding: 5px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 4px;
  }
}
.foot-link-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
  .foot-group {
    display: flex;
    flex-flow: column;
    h3 {
      font-size: 1.2rem;
      border-bottom: 1px solid rgb(224, 224, 224);
    }
    a {
      font-size: 1rem;
      padding: 10px 0;
      text-decoration: none;
      color: #a9a9a9;
      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
}
.que {
  color: rgb(160, 1, 30);
}
.rec {
  display: none;
  text-align: center;
  a {
    text-decoration: none;
    color: grey;
  }
}
.show{
  display: block;
}
