@import "about";
@import "footer";
@import "section";
@import "header";

@phone:    ~"(max-width: 500px)";

html {
  font-size: 62.5%;
  font-family: sans-serif;
  max-width: 1600px;
  margin: auto;
  padding: 0;
}